<nav>
    <div>Contact Book</div>
    <ul>
        <li><a href="/contacts">Index</a></li>
        <li><a href="/contacts/new">new</a></li>
    </ul>
</nav>
<!-- 페이지마다 표시될 menu 부분 index와 new view로 이동하는 메뉴를 만들어주는 항목 -->